[Unit]
Description=gunicorn daemon for ipaddress.su
After=network.target

[Service]
User=web
Group=www-data
WorkingDirectory=/home/web/ipaddress_su
ExecStart=/home/web/.local/bin/uv run gunicorn
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
