{% extends 'base.html' %}
{% load tools_extras %}

{% block title %}{% if not domain %}Узнать IP домена{% else %}IP адреса домена {{ domain }}{% endif %}{% endblock %}

{% block head %}
<meta name="description" content="С помощью этого инструмента вы можете узнать IP адрес (или несколько), на который ссылается домен.">
{% endblock %}


{% block body %}

<section class="block block--white">
  <h1>{% if not domain %}Узнать IP домена{% else %}IP адреса домена {{ domain }}{% endif %}</h1>
  <form class="form" method="post" novalidate>
    {% csrf_token %}

    {{ form.domain.label_tag }}

    <div class="form__group">
      {{ form.domain }}
      <button class="button" name="submit">Показать IP</button>
    </div>

    {% if form.domain.errors %}
      {% for error in form.domain.errors %}
        <p class="form__error">{{ error }}</p>
      {% endfor %}
    {% endif %}
  </form>

  {% if ipsv4 and ipsv4 %}
    <p><strong>IPv4</strong></p>
    {% if ipsv4|is_iterable %}
      <ul>
      {% for ip in ipsv4 %}
        <li><a href="{% url 'tools:ipinfo_with_ip' ip %}">{{ ip }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <p>{{ ipsv4 }}</p>
    {% endif %}

    <p><strong>IPv6</strong></p>
    {% if ipsv6|is_iterable %}
      <ul>
      {% for ip in ipsv6 %}
        <li><a href="{% url 'tools:ipinfo_with_ip' ip %}">{{ ip }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <p>{{ ipsv6 }}</p>
    {% endif %}
  {% endif %}

  {% if log %}
  <section>
    <h2>Журнал доменов</h2>
    <table class="table">
      {% for domain in log %}
      <tr>
        <td><a href="{% url 'tools:nslookup_with_domain' domain.name %}">{{ domain.name }}</a></td>
        <td>{{ domain.timestamp|date:'d.m.Y H:i:s' }}</td>
      </tr>
      {% endfor %}
    </table>
  </section>
  {% endif %}
</section>

{% endblock %}
