{% extends 'base.html' %}
{% load tools_extras %}

{% block title %}{% if not ip %}Узнать информацию об IP{% else %}Информация об IP {{ ip }}{% endif %}{% endblock %}

{% block head %}
<meta name="description" content="Узнать подробную информацию о IP адресе, какой организации принадлежит, в какой стране расположен.">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
{% endblock %}

{% block body %}

<section class="block block--white">
  <h1>{% if not ip %}Узнать информацию об IP{% else %}Информация об IP {{ ip }}{% endif %}</h1>

  <form class="form" method="post" novalidate>
    {% csrf_token %}

    {{ form.ipaddress.label_tag }}

    <div class="form__group">
      {{ form.ipaddress }}
      <button class="button" name="submit">Проверить IP</button>
    </div>

    {% if form.ipaddress.errors %}
      {% for error in form.ipaddress.errors %}
        <p class="form__error">{{ error }}</p>
      {% endfor %}
    {% endif %}
  </form>

  {% if result %}
    {% if result.status == 'fail' %}
      <p>{{ result.message }}</p>
    {% else %}
      <table class="table">
        <tr>
          <td>Страна</td>
          <td>{{ result.country }}</td>
        </tr>
        <tr>
          <td>Код страны</td>
          <td>{{ result.countryCode }}</td>
        </tr>
        <tr>
          <td>Регион</td>
          <td>{{ result.regionName }}</td>
        </tr>
        <tr>
          <td>Город</td>
          <td>{{ result.city }}</td>
        </tr>
        <tr>
          <td>Часовой пояс</td>
          <td>{{ result.timezone }}</td>
        </tr>
        <tr>
          <td>Провайдер</td>
          <td>{{ result.isp }}</td>
        </tr>
        <tr>
          <td>Организация</td>
          <td>{{ result.org }}</td>
        </tr>
        <tr>
          <td>Сеть</td>
          <td>{{ result.as }}</td>
        </tr>
        <tr>
          <td>Имя хоста</td>
          <td>{{ result.reverse }}</td>
        </tr>
        <tr>
          <td>Мобильный?</td>
          <td>{% if result.mobile %}Да{% else %}Нет{% endif %}</td>
        </tr>
        <tr>
          <td>Прокси?</td>
          <td>{% if result.proxy %}Да{% else %}Нет{% endif %}</td>
        </tr>
        <tr>
          <td>Широта</td>
          <td>{{ result.lat }}</td>
        </tr>
        <tr>
          <td>Долгота</td>
          <td>{{ result.lon }}</td>
        </tr>
      </table>
      <div id="map" style="width:100%; height:600px;"></div>
    {% endif %}
  {% endif %}

  <section>
    <h2>Журнал IP</h2>
    <table class="table">
    {% for ip in log %}
      <tr>
        <td><a href="{% url 'tools:ipinfo_with_ip' ip.address %}">{{ ip.address }}</a></td>
        <td>{{ ip.timestamp|date:'d.m.Y H:i:s' }}</td>
      </tr>
    {% endfor %}
    </table>
  </section>
</section>

{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% if result %}
<script>
  const latitude = {{ result.lat|safe }},
    longitude = {{ result.lon|safe }};

  const map = L.map('map').setView([latitude, longitude], 13);
  const marker = L.marker([latitude, longitude]).addTo(map);
  map.attributionControl.setPrefix(false);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      //~ maxZoom: 19,
      attribution: ''
  }).addTo(map);
</script>
{% endif %}
{% endblock %}
