{% extends 'base.html' %}

{% block title %}Информация о домене{% endblock %}

{% block head %}
<meta name="description" content="С помощью этого инструмента вы можете узнать информацию о доменном имени.">
{% endblock %}

{% block body %}

<section class="block">
    <h1>Информация о домене</h1>

    <form class="form" method="post" novalidate>
      {{ csrf_input }}

      {{ form.domain.label_tag() }}

      <div class="form__group">
        {{ form.domain }}
        <button class="button" name="submit">Проверить IP</button>
      </div>

      {% if form.domain.errors %}
        {% for error in form.domain.errors %}
          <p class="form__error">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </form>

</section>

{% endblock %}
