{% extends 'base.html' %}

{% block title %}{% if not domain %}Узнать WHOIS домена{% else %}WHOIS домена {{ domain }}{% endif %}{% endblock %}

{% block head %}
<meta name="description" content="С помощью этого инструмента вы можете узнать информацию о доменном имени и кому оно принадлежит.">
{% endblock %}

{% block body %}

<section class="block block--white">
    <h1>{% if not domain %}Узнать WHOIS домена{% else %}WHOIS домена {{ domain }}{% endif %}</h1>

    <form class="form" method="post" novalidate>
      {% csrf_token %}

      {{ form.domain.label_tag }}

      <div class="form__group">
        {{ form.domain }}
        <button class="button" name="submit">Проверить IP</button>
      </div>

      {% if form.domain.errors %}
        {% for error in form.domain.errors %}
          <p class="form__error">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </form>

    {% if result %}
    <pre><code>{{ result.text }}</code></pre>
    {% endif %}
</section>

{% endblock %}
