{% extends 'base.html' %}

{% block title %}{{ article }}{% endblock %}


{% block head %}
  {% if article.description %}<meta name="description" content="{{ article.description }}">{% endif %}
{% endblock %}

{% block body %}

<article class="article block block--white" itemscope itemtype="http://schema.org/Article">
  <h1 itemprop="headline">{{ article.title }}</h1>
  <time datetime="{{ article.created_at.isoformat }}">{{ article.created_at|date:'d.m.Y' }}</time>
  {% if article.image %}
    <img src="{{ article.image.url }}">
  {% endif %}
  <div id="content" itemprop="articleBody">{{ article.content|safe }}</div>
</article>

{% endblock %}
