{% load static %}<!-- Очередной пет-проект на Python, коих дохера =) https://github.com/kamalynx/ipaddress_su --->
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link href="/favicon.ico" rel="icon" type="image/x-icon">
  {% block head %}{% endblock %}
</head>
<body>
  <div class="site">
    {% include 'inc/navbar.html' %}
    <div class="container">{% block body %}{% endblock %}</div>
  </div>
  {% block scripts %}{% endblock %}
  {% include 'inc/counters.html' %}
</body>
</html>
