{% extends 'base.html' %}
{% load i18n %}

{% block title %}Мой IP адрес{% endblock %}

{% block head %}
<meta name="description" content="Определите IP адрес своего устройства с помощью этого сайта.">
{% endblock %}

{% block body %}

<div class="block block--white block--ip">
  <div>
    <p>Ваш IP адрес:</p>
    <p class="ipaddress">{{ ipaddress }}</p>
  </div>
  <div>
    <p>Ваш IPv6 адрес:</p>
    <p id="IPv6" class="ipaddress">вычисляем...</p>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", (e) => {
    const ipv6 = document.getElementById('IPv6');

    fetch('//6.ipaddress.su', { headers: { 'Accept-Encoding': 'br, gzip' } })
      .then(response => response.text())
      .then(data => {
        ipv6.innerText = data;
      })
      .catch(error => {
        ipv6.innerText = '-';
        console.error(error);
      });
  });

</script>
{% endblock %}
